@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

html {
    background: palegoldenrod;
    font-family: 'Chilanka', cursive;
}
.container {
    cursor: pointer;
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;

}

h1 {
    text-align: center;
    text-shadow: 3px 5px 2px #1a3821ad, 8px 7px 19px rgba(206,89,55,0);
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    text-shadow: 3px 5px 2px #1a3821ad, 8px 7px 19px rgba(206,89,55,0);
    margin-top: 0px;
}
 
h3 {
    text-align: center;
    
}

.row {

    height: 100px;
}

.col {
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 130px;
}

.col:hover {
    background-color: rgba(43, 139, 104, 0.712);
    transition: .4s;
}
.border-b {
    border-bottom: 10px solid black;
}

.border-r {
    border-right: 10px solid black;
}